//backgrounds
$color1: #000000;
$color2: #111111;


//texto
$color-p1: #ffffff;
$color-p2: #FAB30F;
$color-p3: #c2c2c2;

.color-1 {
  color: $color1;
}

.color-2 {
  color: $color2;
}

.color-p1 {
  color: $color-p1;
}

.color-p2 {
  color: $color-p2;
}

.color-p3 {
  color: $color-p3;
}