.aboutMe-bg {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 800px) {
      grid-template-columns: 1fr;
    }

    h1 {
      @media(max-width: 800px) {
        padding-bottom: 2.5rem;
       }

       @media(max-width: 400px) {
        font-size: 2rem;
       }
    }

    .history {
      grid-column: 2;
      background: $color2;
      padding: 2rem;
      border-radius: 4px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);

      @media(max-width: 800px) {
       grid-column: 1/1;
      }

      h2 {
        padding-bottom: 0.3125rem;

        @media(max-width: 400px) {
          font-size: 1.5rem;
         }
      }

      h3 {
        padding-bottom: 1.25rem;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          width: 12px;
          height: 6px;
          display: inline-block;
          margin-right: 4px;
          background: #FAB30F;
        }
      }

      p {
        line-height: 1.4;
        max-width: 50ch;
        padding-bottom: 1.25rem;
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.625rem;

        a {
          display: block;
          background-color: $color1;
          padding: .5rem;
          border-radius: 4px;
          border: 1px solid transparent;
          transition: .4s;

          &:hover {
            border: 1px solid #FAB30F;
          }
        }
      }
    }
  }
}