.footer-bg{
  background: $color1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media(max-width: 800px){
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  
  }

  .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 800px){
      flex-wrap: wrap;
      gap: 1.25rem;

      & + p {
        padding-bottom: 0.3125rem;
      }
    }
  }
}