.footer-bg{
  background: $color1;
  padding-top: 40px;
  padding-bottom: 40px;

  @media(max-width: 800px){
    padding-top: 20px;
    padding-bottom: 20px;
  
  }

  .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 800px){
      flex-wrap: wrap;

      p {
        padding-bottom: 20px;
      }
    }
  }
}