.header-bg {
  background: $color1;
  padding-top: 20px;
  padding-bottom: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      padding: 0 1.2rem;
      position: relative;

      &::before {
        content:'<';
        width: 4px;
        height: 30px;
        display: inline-block;
        position: absolute;
        margin-left: -16px;
      }

      &::after {
        content:'>';
        width: 4px;
        height: 30px;
        display: inline-block;
        position: absolute;
        margin-right: -16px;
      }
    }

    [data-menu="button"] {
      display: none;

      @media(max-width: 800px) {
        & {
          display: flex;
          background: $color-p2;
          border: none;
          border-radius: 4px;
          padding: .5rem 1rem;
          text-transform: uppercase;
          color: $color1;
          cursor: pointer;
          margin: 20px;
          right: 20px;
          align-items: center;
          position: relative;
          z-index: 300;

          &::before {
            content: '';
            margin-right: 4px;
            display: inline-block;
            height: 2px;
            width: 12px;
            background: $color-p1;
            box-shadow: 0 4px $color-p1, 0 -4px $color-p1;
            transition: transform .3s;
          }

          &.active::before {
            transform: rotate(90deg);
          }
        }
      }
    }

    .menu {
      display: flex;
      gap: 1.5rem;

      @media(max-width: 800px) {
        display: none;
        position: absolute;
        background: $color-p2;
        width: 200px;
        z-index: 200;
        top: 15px;
        padding: 60px 0 20px 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);

       &.active {
          display: block;
          animation: show-right .3s forwards;
        }
      }

      li {
        cursor: pointer;

        a {
          display: block;
          text-decoration: none;
     
          &:hover {
            color: $color-p3;
          }

          &::after {
            content: '';
            width: 0;
            height: 2px;
            display: block;
            background: #FAB30F;
            transition: .3s;
          }
  
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}