.header-bg {
  background: #000000;
  padding-top: 20px;
  padding-bottom: 20px;

  .header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-name {
      font-size: 2rem;
      padding: 0 1.2rem;
      position: relative;

      &::before {
        content:'';
        width: 4px;
        height: 27px;
        display: inline-block;
        position: absolute;
        margin-left: -12px;
        top: 6px;
        background: linear-gradient(-45deg,#ffffff 30% 50% , #1eff00 50% 20%);
      }
    }

    .menu {
      display: flex;
      gap: 1.5rem;

      li {
        cursor: pointer;
      
        a {
          display: block;
          font-size: 1.25rem;
          text-decoration: none;
          color: #fff;
     

          &:hover {
            color: #c2c2c2;
          }

          &::after {
            content: '';
            width: 0;
            height: 2px;
            display: block;
            background: #FAB30F;
            transition: .3s;
          }
  
          &:hover::after {
            width: 100%;
          }
          
        }
        
      }
    }
  }
}