.home-bg {
  background: $color2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);
  padding-top: 5rem;
  padding-bottom: 7.5rem;

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .home-content {
      align-self: center;
      max-width: 60ch;
      
      h1 {
        padding-bottom: 40px;
      }

      p {
        padding-bottom: 10px;
      }

      a {
        display: block;
        letter-spacing: 1px;
      }
    }
  }
}