.home-bg {
  background: $color2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);
  padding-top: 5rem;
  padding-bottom: 7.5rem;

  @media(max-width: 400px) {
    padding-bottom: 5rem;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .home-content {
      align-self: center;
      max-width: 60ch;

      h1 {
        padding-bottom: 40px;

        @media(max-width: 400px) {
          font-size: 2.5rem;
        }
      }

      p {
        padding-bottom: 10px;
      }

      a {
        display: inline-block;
        letter-spacing: 1px;
      }
    }

    .home-img {
      img {
        @media(max-width: 800px) {
          display: none;
        }
      }
    }
  }
}