.home-bg {
  background: $color2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media(max-width: 400px) {
    padding-bottom: 5rem;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .home-content {
      align-self: center;
      max-width: 60ch;

      h1 {
        padding-bottom: 40px;

        @media(max-width: 400px) {
          font-size: 2.5rem;
        }
      }

      p {
        padding-bottom: 0.625rem;
      }

      a {
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1px;
        background: $color-p2;
        border-radius: 4px;
        padding: 0.3125rem 0.9375rem;

        &:hover {
          background: linear-gradient(45deg, #00000050, $color-p2, #00000050);
        }
      }
    }

    .home-img {
      img {
        @media(max-width: 800px) {
          display: none;
        }
      }
    }
  }
}