.skills-bg {
  background: #000000;
  padding-top: 7rem;
  padding-bottom: 7rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.404);

  .skills {
    display: grid;
    grid-template-columns: 1fr;

    h1 {
      padding-bottom: 2.5rem;

      @media (max-width: 400px) {
        font-size: 2rem;
      }
    }

    .skills-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.2rem;
        max-width: 1000px;
        margin: auto;

        @media (max-width: 1000px) {
          justify-content: center;
        }

        @media (max-width: 400px) {
          gap: 0.5rem;
        }

        li {
          background-color: #111111;
          padding: 2rem;
          border: 1px solid transparent;
          border-radius: 4px;

          @media (max-width: 1000px) {
            padding: 2rem 6rem;
          }

          @media (max-width: 700px) {
            padding: 2rem 6rem;
          }

          @media (max-width: 400px) {
            padding: 1rem 2.5rem;
          }

          &:hover {
            border: 1px solid #fab30f;
            transition: 0.4s;
          }

          img {
            max-width: fit-content;
          }
        }
      }
    }
  }
}
