.skills-bg {
  background: #000000;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .skills {
    display: grid;
    grid-template-columns: 1fr;

    h1 {
      padding-bottom: 2.5rem;

      @media(max-width: 400px) {
        font-size: 2rem;
      }
    }

    .skills-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        @media(max-width: 1200px) {
          gap: 1.25rem;
          justify-content: start;
        }

        @media(max-width: 800px) {
          gap: 1.25rem;
        }

        @media(max-width: 400px) {
          justify-content: center;
        }

        li {
          background-color: #111111;
          padding: 2rem;
          border: 1px solid transparent;
          border-radius: 4px;

          &:hover {
            border: 1px solid #FAB30F;
            transition: .4s;
          }

          img {
            max-width: fit-content;
          }
        }
      }
    }
  }
}